#### Pandas数据排序
Series的排序：
##### Series.sort_values(ascending=True, inplace=False)
参数说明：
+ ascending：默认True升序，False降序
+ inplace：是否修改原始Series

DataFrame的排序：
##### DataFrame.sort_values(by,ascending=True,inplace=False)
参数说明：
+ by：字符串或者list<字符串>，单列排序或者多列排序
+ ascending：bool或者List，升序还是降序，如果是list对应by的多列
+ inplace：是否修改原始DataFrame

In [1]:
import pandas as pd

#### 读取数据

In [2]:
fpath = "C:/Users/pxpxz_ct9p1p3/Downloads/Fortune_1000_Companies_by_Revenue.csv"
df = pd.read_csv(fpath)

In [3]:
# 替换掉前缀$等
df.loc[:, 'revenues'] = df['revenues'].str.replace('$', '').str.replace(',','').astype('float')
# 替换掉前缀$等
df.loc[:, 'profits'] = df['profits'].str.replace('$', '').str.replace(',','').str.replace('(','').str.replace(')','').str.replace('(','').str.replace('-','0').astype('float')

C:\Users\PXPXZ_~1\AppData\Local\Temp/ipykernel_9212/3712398985.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.loc[:, 'revenues'] = df['revenues'].str.replace('$', '').str.replace(',','').astype('float')
C:\Users\PXPXZ_~1\AppData\Local\Temp/ipykernel_9212/3712398985.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.loc[:, 'profits'] = df['profits'].str.replace('$', '').str.replace(',','').str.replace('(','').str.replace(')','').str.replace('(','').str.replace('-','0').astype('float')

In [4]:
df.head()

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
0,1,Walmart,572754.0,2.40%,13673.0,1.20%,"$244,860","$409,795",-,"2,300,000"
1,2,Amazon,469822.0,21.70%,33364.0,56.40%,"$420,549","$1,658,807.30",-,"1,608,000"
2,3,Apple,365817.0,33.30%,94680.0,64.90%,"$351,002","$2,849,537.60",-,"154,000"
3,4,CVS Health,292111.0,8.70%,7910.0,10.20%,"$232,999","$132,839.20",-,"258,000"
4,5,UnitedHealth Group,287597.0,11.80%,17285.0,12.20%,"$212,206","$479,830.30",-,"350,000"

In [ ]:
#### 1、Series的排序

In [5]:
df['revenues'].sort_values()

999      2107.2
998      2111.0
997      2112.8
996      2122.2
995      2124.0
         ...
4      287597.0
3      292111.0
2      365817.0
1      469822.0
0      572754.0
Name: revenues, Length: 1000, dtype: float64

In [6]:
df['revenues'].sort_values(ascending=False)

0      572754.0
1      469822.0
2      365817.0
3      292111.0
4      287597.0
         ...
995      2124.0
996      2122.2
997      2112.8
998      2111.0
999      2107.2
Name: revenues, Length: 1000, dtype: float64

In [7]:
df['name'].sort_values()

996         1-800-Flowers.com
101                        3M
445    A-Mark Precious Metals
745                A.O. Smith
509            ABM Industries
                ...
873                     Zynga
300                      eBay
716        eXp World Holdings
741               iHeartMedia
699                 loanDepot
Name: name, Length: 1000, dtype: object

#### 2、DataFrame的排序
##### 2.1 单列排序

In [9]:
df.sort_values(by='revenues')

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
999,"1,000",DocuSign,2107.2,45%,70.0,-,"$2,541.30","$21,302.80",-,"7,461"
998,999,Ashland Global Holdings,2111.0,-11.20%,220.0,-,"$6,612","$5,601.90",-130,"4,100"
997,998,Cowen,2112.8,30.20%,295.6,36.60%,"$8,748.80",$744.10,-,"1,534"
996,997,1-800-Flowers.com,2122.2,42.50%,118.7,101.10%,"$1,076.70",$830,-,"4,800"
995,996,Vizio Holding,2124.0,4%,39.4,-138.40%,$935.80,"$1,705.10",-,800
...,...,...,...,...,...,...,...,...,...,...
4,5,UnitedHealth Group,287597.0,11.80%,17285.0,12.20%,"$212,206","$479,830.30",-,"350,000"
3,4,CVS Health,292111.0,8.70%,7910.0,10.20%,"$232,999","$132,839.20",-,"258,000"
2,3,Apple,365817.0,33.30%,94680.0,64.90%,"$351,002","$2,849,537.60",-,"154,000"
1,2,Amazon,469822.0,21.70%,33364.0,56.40%,"$420,549","$1,658,807.30",-,"1,608,000"
0,1,Walmart,572754.0,2.40%,13673.0,1.20%,"$244,860","$409,795",-,"2,300,000"

In [10]:
df.sort_values(by='revenues', ascending=False)

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
0,1,Walmart,572754.0,2.40%,13673.0,1.20%,"$244,860","$409,795",-,"2,300,000"
1,2,Amazon,469822.0,21.70%,33364.0,56.40%,"$420,549","$1,658,807.30",-,"1,608,000"
2,3,Apple,365817.0,33.30%,94680.0,64.90%,"$351,002","$2,849,537.60",-,"154,000"
3,4,CVS Health,292111.0,8.70%,7910.0,10.20%,"$232,999","$132,839.20",-,"258,000"
4,5,UnitedHealth Group,287597.0,11.80%,17285.0,12.20%,"$212,206","$479,830.30",-,"350,000"
...,...,...,...,...,...,...,...,...,...,...
995,996,Vizio Holding,2124.0,4%,39.4,-138.40%,$935.80,"$1,705.10",-,800
996,997,1-800-Flowers.com,2122.2,42.50%,118.7,101.10%,"$1,076.70",$830,-,"4,800"
997,998,Cowen,2112.8,30.20%,295.6,36.60%,"$8,748.80",$744.10,-,"1,534"
998,999,Ashland Global Holdings,2111.0,-11.20%,220.0,-,"$6,612","$5,601.90",-130,"4,100"
999,"1,000",DocuSign,2107.2,45%,70.0,-,"$2,541.30","$21,302.80",-,"7,461"

#### 2.2 多列排序

In [12]:
# 按profit，revenue排序，默认升序
df.sort_values(by=['profits', 'revenues'])

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
735,736,Garrett Motion,3633.0,19.70%,0.0,-,"$2,706",$463.90,7,"7,600"
534,535,Chesapeake Energy,5809.0,11.50%,0.0,-,"$11,009","$11,135.90",-22,"1,300"
498,499,Frontier Communications,6411.0,-10.40%,0.0,-,"$16,481","$6,763.10",-97,"15,640"
728,729,Pitney Bowes,3673.6,3.40%,1.4,-,"$4,958.90",$900.10,-65,"11,500"
990,991,Harsco,2147.0,14.60%,3.2,-,"$3,053.90",$969.70,-,"12,000"
...,...,...,...,...,...,...,...,...,...,...
23,24,JPMorgan Chase,127202.0,-1.80%,48334.0,65.90%,"$3,743,567","$402,526.90",-5,"271,025"
13,14,Microsoft,168088.0,17.50%,61271.0,38.40%,"$333,779","$2,311,358.90",1,"181,000"
7,8,Alphabet,257637.0,41.20%,76033.0,88.80%,"$359,268","$1,842,326.10",1,"156,500"
6,7,Berkshire Hathaway,276094.0,12.50%,89795.0,111.20%,"$958,784","$779,542.30",-1,"372,000"
2,3,Apple,365817.0,33.30%,94680.0,64.90%,"$351,002","$2,849,537.60",-,"154,000"

In [14]:
# 两个字段都是降序
df.sort_values(by=['profits', 'revenues'],ascending=False)

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
2,3,Apple,365817.0,33.30%,94680.0,64.90%,"$351,002","$2,849,537.60",-,"154,000"
6,7,Berkshire Hathaway,276094.0,12.50%,89795.0,111.20%,"$958,784","$779,542.30",-1,"372,000"
7,8,Alphabet,257637.0,41.20%,76033.0,88.80%,"$359,268","$1,842,326.10",1,"156,500"
13,14,Microsoft,168088.0,17.50%,61271.0,38.40%,"$333,779","$2,311,358.90",1,"181,000"
23,24,JPMorgan Chase,127202.0,-1.80%,48334.0,65.90%,"$3,743,567","$402,526.90",-5,"271,025"
...,...,...,...,...,...,...,...,...,...,...
990,991,Harsco,2147.0,14.60%,3.2,-,"$3,053.90",$969.70,-,"12,000"
728,729,Pitney Bowes,3673.6,3.40%,1.4,-,"$4,958.90",$900.10,-65,"11,500"
498,499,Frontier Communications,6411.0,-10.40%,0.0,-,"$16,481","$6,763.10",-97,"15,640"
534,535,Chesapeake Energy,5809.0,11.50%,0.0,-,"$11,009","$11,135.90",-22,"1,300"
735,736,Garrett Motion,3633.0,19.70%,0.0,-,"$2,706",$463.90,7,"7,600"

In [15]:
# 两个字段一升一降
df.sort_values(by=['profits', 'revenues'],ascending=[True,False])

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees
498,499,Frontier Communications,6411.0,-10.40%,0.0,-,"$16,481","$6,763.10",-97,"15,640"
534,535,Chesapeake Energy,5809.0,11.50%,0.0,-,"$11,009","$11,135.90",-22,"1,300"
735,736,Garrett Motion,3633.0,19.70%,0.0,-,"$2,706",$463.90,7,"7,600"
728,729,Pitney Bowes,3673.6,3.40%,1.4,-,"$4,958.90",$900.10,-65,"11,500"
990,991,Harsco,2147.0,14.60%,3.2,-,"$3,053.90",$969.70,-,"12,000"
...,...,...,...,...,...,...,...,...,...,...
23,24,JPMorgan Chase,127202.0,-1.80%,48334.0,65.90%,"$3,743,567","$402,526.90",-5,"271,025"
13,14,Microsoft,168088.0,17.50%,61271.0,38.40%,"$333,779","$2,311,358.90",1,"181,000"
7,8,Alphabet,257637.0,41.20%,76033.0,88.80%,"$359,268","$1,842,326.10",1,"156,500"
6,7,Berkshire Hathaway,276094.0,12.50%,89795.0,111.20%,"$958,784","$779,542.30",-1,"372,000"
2,3,Apple,365817.0,33.30%,94680.0,64.90%,"$351,002","$2,849,537.60",-,"154,000"