#### Pandas的数据转换函数map、apply、applymap
数据转换函数对比：map,apply,applymap
1. map:只用于Series，实现每个值->值得映射；
2. apply：用于Series实现每个值的处理，用于DataFrame实现某个轴的Series的处理；
3. applymap：只能用于DataFrame，用于处理该DataFrame的每个元素。

#### 1. map用于Series值得转换
实列：将股票代码英文转换成中文名字

Series.map(dict) or Series.map(function)，dict和function均可作为参数传入

In [1]:
import pandas as pd
stocks = pd.read_excel('./files/companies_stock.xlsx')
stocks.head()

          日期    公司      收盘      开盘       高       低    交易量     涨跌幅
0 2023-02-17    JD   53.02   53.14   53.68   52.46  6.34M -0.0200
1 2023-02-16    JD   54.10   53.79   54.77   53.49  8.94M  0.0358
2 2023-02-15    JD   52.23   51.64   52.27   51.08  4.64M -0.0017
3 2023-02-17  BIDU  141.71  143.49  144.13  140.01  3.39M -0.0490
4 2023-02-16  BIDU  149.01  149.00  151.34  147.86  3.54M -0.0199

In [2]:
stocks['公司'].unique()

array(['JD', 'BIDU', 'IQ', 'BABA'], dtype=object)

In [3]:
# 公司股票代码到中文得映射，注意这里是小写
dict_company_names={
    'bidu':'百度',
    'baba':'阿里巴巴',
    'iq':'爱奇艺',
    'jd':'京东'
    
}

#### 方法1：Series.map(dict)

In [4]:
stocks['公司中文1']=stocks['公司'].str.lower().map(dict_company_names)
stocks.head()

          日期    公司      收盘      开盘       高       低    交易量     涨跌幅 公司中文1
0 2023-02-17    JD   53.02   53.14   53.68   52.46  6.34M -0.0200    京东
1 2023-02-16    JD   54.10   53.79   54.77   53.49  8.94M  0.0358    京东
2 2023-02-15    JD   52.23   51.64   52.27   51.08  4.64M -0.0017    京东
3 2023-02-17  BIDU  141.71  143.49  144.13  140.01  3.39M -0.0490    百度
4 2023-02-16  BIDU  149.01  149.00  151.34  147.86  3.54M -0.0199    百度

#### 方法2：Series.map(function)
function的参数是Series的每个元素的值

In [7]:
stocks['公司中文2']=stocks['公司'].map(lambda x:dict_company_names[x.lower()])
stocks.head()

          日期    公司      收盘      开盘       高       低    交易量     涨跌幅 公司中文1 公司中文2
0 2023-02-17    JD   53.02   53.14   53.68   52.46  6.34M -0.0200    京东    京东
1 2023-02-16    JD   54.10   53.79   54.77   53.49  8.94M  0.0358    京东    京东
2 2023-02-15    JD   52.23   51.64   52.27   51.08  4.64M -0.0017    京东    京东
3 2023-02-17  BIDU  141.71  143.49  144.13  140.01  3.39M -0.0490    百度    百度
4 2023-02-16  BIDU  149.01  149.00  151.34  147.86  3.54M -0.0199    百度    百度

#### 2. apply用于Series和DataFrame的转换
+ Series.apply(function),函数的参数是每个值
+ DataFrame.apply(function),函数的参数是Series

#### Series.apply(function)
function的参数是Series的每个值

In [8]:
stocks['公司中文3']=stocks['公司'].apply(lambda x:dict_company_names[x.lower()])
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文1,公司中文2,公司中文3
0,2023-02-17,JD,53.02,53.14,53.68,52.46,6.34M,-0.0200,京东,京东,京东
1,2023-02-16,JD,54.10,53.79,54.77,53.49,8.94M,0.0358,京东,京东,京东
2,2023-02-15,JD,52.23,51.64,52.27,51.08,4.64M,-0.0017,京东,京东,京东
3,2023-02-17,BIDU,141.71,143.49,144.13,140.01,3.39M,-0.0490,百度,百度,百度
4,2023-02-16,BIDU,149.01,149.00,151.34,147.86,3.54M,-0.0199,百度,百度,百度

#### DataFrame.apply(function)
function的参数是对应轴的Series

In [10]:
stocks['公司中文4']=stocks.apply(lambda x:dict_company_names[x['公司'].lower()],axis=1)
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文1,公司中文2,公司中文3,公司中文4
0,2023-02-17,JD,53.02,53.14,53.68,52.46,6.34M,-0.0200,京东,京东,京东,京东
1,2023-02-16,JD,54.10,53.79,54.77,53.49,8.94M,0.0358,京东,京东,京东,京东
2,2023-02-15,JD,52.23,51.64,52.27,51.08,4.64M,-0.0017,京东,京东,京东,京东
3,2023-02-17,BIDU,141.71,143.49,144.13,140.01,3.39M,-0.0490,百度,百度,百度,百度
4,2023-02-16,BIDU,149.01,149.00,151.34,147.86,3.54M,-0.0199,百度,百度,百度,百度

In [ ]:
注意这个代码：
+ apply是在stocks这个DataFrame上调用；
+ lambda x：x是一个Series，因为指定了axis=1 所以Series的key是列名，可以用x['公司']获取

#### 3. applymap用于DataFrame所有值的转换

In [13]:
sub_df=stocks[['收盘','开盘','高','低']]
sub_df.head()

       收盘      开盘       高       低
0   53.02   53.14   53.68   52.46
1   54.10   53.79   54.77   53.49
2   52.23   51.64   52.27   51.08
3  141.71  143.49  144.13  140.01
4  149.01  149.00  151.34  147.86

In [14]:
# 将这些数字取整数，应用于所有元素
sub_df.applymap(lambda x:int(x))

     收盘   开盘    高    低
0    53   53   53   52
1    54   53   54   53
2    52   51   52   51
3   141  143  144  140
4   149  149  151  147
5   152  153  155  150
6     6    7    7    6
7     7    7    7    7
8     7    7    7    6
9   100  101  101   99
10  103  102  104  102
11  103  102  103  102

In [15]:
# 直接修改原df的这几列
stocks.loc[:,['收盘','开盘','高','低']]=sub_df.applymap(lambda x:int(x))
stocks.head()

          日期    公司   收盘   开盘    高    低    交易量     涨跌幅 公司中文1 公司中文2 公司中文3 公司中文4
0 2023-02-17    JD   53   53   53   52  6.34M -0.0200    京东    京东    京东    京东
1 2023-02-16    JD   54   53   54   53  8.94M  0.0358    京东    京东    京东    京东
2 2023-02-15    JD   52   51   52   51  4.64M -0.0017    京东    京东    京东    京东
3 2023-02-17  BIDU  141  143  144  140  3.39M -0.0490    百度    百度    百度    百度
4 2023-02-16  BIDU  149  149  151  147  3.54M -0.0199    百度    百度    百度    百度